# IDEs
.idea/
*.code-workspace

# MacOS
**.DS_Store

# Terraform specific
**.terraform/
*.tfstate
*.tfstate.backup
*.terraform.tfstate.lock.info
tfplan
**.terragrunt-cache/
**temp/
# Only disabling with understanding that we don't leak any private info
# *.tfvars
*~
